<form action="/create-provider" method="POST">
  <h2>Додати постачальника</h2>

  <table>
    <thead>
      <tr>
        <th>Назва компанії</th>
        <th>Контактний номер</th>
        <th>Електронна пошта</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><input type="text" name="provider"></td>
        <td><input type="text" name="phone"></td>
        <td><input type="text" name="email"></td>
        <td><button type="submit" class="btn">Зберегти</button></td>
      </tr>
    </tbody>
  </table>

</form>